
@tailwind base;
@tailwind components;
@tailwind utilities;

/* jetbrains-mono-300 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('/static/fonts/jetbrains-mono-v6-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/jetbrains-mono-v6-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-regular - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
       url('/static/fonts/jetbrains-mono-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/jetbrains-mono-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-500 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''),
       url('/static/fonts/jetbrains-mono-v6-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/jetbrains-mono-v6-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-600 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''),
       url('/static/fonts/jetbrains-mono-v6-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/jetbrains-mono-v6-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* jetbrains-mono-700 - latin */
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
       url('/static/fonts/jetbrains-mono-v6-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/jetbrains-mono-v6-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@keyframes blink {
  0% { opacity: 1; }
 49% { opacity: 1; }
 50% { opacity: 0; }
100% { opacity: 0; }
}

.typed-cursor{
  opacity: 1;
  transition: none;
  animation: blink 1s infinite;
}
.title{
  @apply text-2xl md:text-4xl font-medium ;
}

.link {
  color: theme('colors.rose.500');
  text-decoration: 'none';
  width: fit-content;
  height: fit-content;

  text-decoration: none;
 
}
.link:hover{
  background-color: theme('colors.rose.500');
  color:white;
}
.link:active{
  background-color: theme('colors.rose.500');
  color:white;
}
.hover-rotate {
  transition: transform .7s ease-in-out;
}
.hover-rotate:hover {
  transform: rotate(360deg);
}
