
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fira-code-regular - latin */
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/static/fonts/fira-code-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/static/fonts/fira-code-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@keyframes blink {
  0% { opacity: 1; }
 49% { opacity: 1; }
 50% { opacity: 0; }
100% { opacity: 0; }
}

.typed-cursor{
  opacity: 1;
  transition: none;
  animation: blink 1s infinite;
}
.title{
  @apply text-3xl md:text-4xl ;
}
.link {
  color: theme('colors.red.500');
  text-decoration: 'none';
  width: fit-content;
  height: fit-content;

  text-decoration: none;
 
}
.link:hover{
  background-color: theme('colors.red.500');
  color:white;
}
.link:active{
  background-color: theme('colors.red.500');
  color:white;
}
